<section class="blockwooman">
  <div class="block-container">
    <div class="block-image">
        <picture>
            <!-- Desktop screen -->
            <source
              media="(min-width: 1158px)"
              srcset="../img/blockwooman section/desc-01@1x.jpg 1x,
              
              ../img/blockwooman section/desc-02@2x.jpg 2x
              "
              type="image/jpg"
            />
            <!-- Tablet screen -->

            <source
              media="(min-width: 768px)"
              srcset="../img/blockwooman section/tab-01@1x.jpg 1x,
              ../img/blockwooman section/tab-02@2x.jpg 2x
              "

              type="image/jpg"
            />
            <!-- Mobile screen -->

            <source
              media="(max-width: 767px)"
              srcset="../img/blockwooman section/mob-01@1x.jpg 1x, ../img/blockwooman section/mob-02@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="card-img"
              src="../img/blockwooman section/mob-01@1x.jpg"
              alt=" woman cooking"
              width="335"
              loading="lazy"
            />
          </picture>
    </div>
    <div class="block-steps">
      <h3 class="block-title">
        To order your <span class="block-accent">vegetable</span> basket, simply
        follow these <span class="block-accent">easy steps</span>
      </h3>
      <p class="block-p">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </p>
      <ul class="block-list">
          <li class="block-item">
            <div class="block-zone">
                <svg><use></use></svg>
                <p class="field-p">Just choose <span>the vegetable</span> you want to order by clicking on the checkboxes <span>next to it.</span> </p>
            </div>
          </li>
          <li class="block-item">
            <div class="block-zone">
                <svg><use></use></svg>
                <p class="field-p">Click on <span>the basket</span> and fill out the form.</p>
            </div>
          </li>
          <li class="block-item">
            <div class="block-zone">
                <svg><use></use></svg>
                <p class="field-p">Sit back and relax! Your <span>fresh vegetables</span> basket will be delivered.</p>
            </div>
          </li>
    </ul>
    </div>
  </div>
</section>
