<section class="input-block">
  <div class="construction-input container">
    <h2 class="Freh-text">
      Fresh <span class="transparency">Harvest</span> Box has got you covered
    </h2>
    <p class="boxer">
      Our boxes are packed with delicious, nutritious vegetables, perfect for
      anyone looking to eat healthier or support local farmers. Order your box
      today and start enjoying the best that nature has to offer!
    </p>
  </div>
  <div class="input">
    <h3 class="ordering">
      Ordering <span class="redd">FROM us</span> is quick and easy! Fill
      out<span class="grrenn"> the form </span>
      below and we will contact you !
    </h3>
    <form class="forma-iputa" name="form">
      <input
        class="create-input"
        type="text"
        name="username"
        placeholder="Full Name"
        pattern="(?=.*[a-z]).{2,}"
        title="The name must contain at least two Latin letters"
      />
      <input
        class="create-input"
        type="email"
        name="email"
        placeholder="Email"
        pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
        title="Invalid email address"
      />
      <textarea
        class="create-input textarea"
        name="user-comment"
        rows="6"
        placeholder="Comment"
      ></textarea>

      <button class="form-btn" type="submit">Send</button>
    </form>
  </div>
  <div class="img-socia">
    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="
          ./img/input/Rectangle@1x.jpg 1x,
          ./img/input/Rectangle@2x.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/input/Rectangletabllet@1.jpg 1x,
          ./img/input/Rectangletablet@2x.jpg 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./img/input/mobail@1x.jpg          1x,
          ./img/input/Rectanglemobila@2x.jpg 2x
        "
      />
      <img
        src=" ./img/input/Rectangle@1x.jpg 1x"
        alt="recipe"
        width="427"
        height="273"
        loading="lazy"
      />
    </picture>
    <p>Follow us on our social networks:</p>
    <ul class="social-item">
      <li class="social-list">
        <a class="social-link" href="https://www.instagram.com/" target="_blank"
          >instagram</a
        >
        <p>/</p>
      </li>
      <li class="social-list">
        <a class="social-link" href="https://www.facebook.com/" target="_blank"
          >facebook</a
        >
        <p>/</p>
      </li>
      <li class="social-list">
        <a class="social-link" href="https://www.youtube.com/" target="_blank"
          >youtube</a
        >
      </li>
    </ul>
  </div>
</section>
