<header class="header">
  <div class="div-header container">
    <nav class="nav-header">
      <a class="logo" href="#" aria-label="Switch to the company logo">
        <svg class="logo-icon" width="18" height="18">
          <use href="./img/icons.svg#icon-Vectordecstop"></use>
        </svg>
        <svg class="logo-text" width="168" height="15">
          <use href="./img/icons.svg#icon-Greendecstop"></use>
        </svg>
      </a>
      <ul class="nav-list">
        <li class="nav-list-item">
          <button class="nav-btn">
            <a class="nav-link" href="#How_it_works">How It Works</a>
          </button>
        </li>
        <li class="nav-list-item">
          <button class="nav-btn">
            <a class="nav-link" href="#Vegetables">Vegetables</a>
          </button>
        </li>
        <li class="nav-list-item">
          <button class="nav-btn">
            <a class="nav-link" href="#Reviews">Reviews</a>
          </button>
        </li>
      </ul>
    </nav>
    <button id="ad" class="mob-btn" type="button" data-menu-open>
      <svg class="open-btn-icon">
        <use class="icon-burger" href="./img/icons.svg#icon-menutab"></use>
      </svg>
    </button>
    <a class="shop-link" href="#">Shop now</a>
  </div>
</header>
