<section class="organik-container">
  <div class="organik-text container">
    <h2 class="organik-vegetelbs">
      organic <span class="vegetables">vegetables</span>
    </h2>
    <p class="our-organik">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
  </div>
  <div class="card-box container">
    <ul class="list-card">
      <li class="item-card">
        <p class="name_vegetables">eggplant</p>
        <p class="price">60 UAH/KG</p>
        <img
          srcset="./img/obc/carrotbak.png 1x, ./img/obc/carrotbak@2x.png 2x"
          src="./img/obc/carrotbak.png 1x"
          width="282"
        />
      </li>

      <li class="item-card">
        <p class="name_vegetables">leek</p>
        <p class="price">50 UAH/KG</p>
        <img
          srcset="./img/obc/carrotpet.png 1x, ./img/obc/carrotpet@2x.png 2x"
          src="./img/obc/carrotpet.png 1x"
          width="282"
        />
      </li>

      <li class="item-card">
        <p class="name_vegetables">mushrooms</p>
        <p class="price">40 UAH/KG</p>
        <img
          srcset="./img/obc/carrotshu.png 1x, ./img/obc/carrotshi@2x.png 2x"
          src="./img/obc/carrotshu.png 1x"
          width="282"
        />
      </li>

      <li class="item-card">
        <p class="name_vegetables">corn</p>
        <p class="price">60 UAH/KG</p>
        <img
          srcset="./img/obc/carrotkyk.png 1x, ./img/obc/carrotkyk@2x.png 2x"
          src="./img/obc/carrotkyk.png 1x"
          width="282"
        />
      </li>

      <li class="item-card">
        <p class="name_vegetables">sweet potatoes</p>
        <p class="price">50 UAH/KG</p>
        <img
          srcset="./img/obc/carrotmok.png 1x, ./img/obc/carrotmok@2x.png 2x"
          src="./img/obc/carrotmok.png 1x"
          width="282"
        />
      </li>

      <li class="item-card">
        <p class="name_vegetables">carrot</p>
        <p class="price">40 UAH/KG</p>
        <img
          srcset="
            ./img/obc/carrotmolmok.png    1x,
            ./img/obc/carrotmolmok@2x.png 2x
          "
          src="./img/obc/carrotmolmok.png 1x"
          width="282"
        />
      </li>
    </ul>
  </div>
</section>
