.input-block {
  background: rgb(122, 49, 69);
  padding-bottom: 80px;
}

.construction-input {
  padding-top: 80px;
}

.Freh-text {
  font-family: 'Studio Pro', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.04167;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}

.transparency {
  color: rgba(251, 251, 251, 0.3);
}

.boxer {
  font-family: 'Studio Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  padding-top: 20px;
}

.input {
  border-radius: 30px;
  background: rgb(251, 251, 251);
  margin-top: 40px;
  padding-bottom: 40px;
}

.ordering {
  font-family: 'Studio Pro', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.08333;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.redd {
  color: #7a3145;
}

.grrenn {
  color: #576f35;
}

.forma-iputa {
  padding-left: 20px;
  padding-top: 15px;
  padding-right: 20px;
}
.create-input {
  color: #141414;
  border: 1px solid rgba(20, 20, 20, 0.2);
  border-radius: 30px;
  width: 100%;
  height: 46px;
  font-family: 'Studio Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: left;
  margin-top: 15px;
  padding-left: 16px;
}
.textarea {
  color: #141414;
  border: 1px solid rgba(20, 20, 20, 0.2);
  border-radius: 15px;
  width: 100%;
  height: 91px;
  margin-bottom: 20px;
  resize: none;
  text-align: left;
  padding-top: 14px;
}
.form-btn {
  padding: 16px;
  width: 100%;
  height: 50px;
  color: rgb(251, 251, 251);
  font-family: Studio Pro;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-align: left;
  text-transform: uppercase;
  border-radius: 30px;
  background: rgb(87, 111, 53);
  justify-content: center;
  display: flex;
}
.wooman {
  background: rgb(122, 49, 69);
  padding-top: 20px;
}
.img-socia {
  border-radius: 30px;
  width: 100%;
  height: 465px;
  background: #576f35;
  margin-top: 20px;
}
.social-item {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-top: 14px;
}
.social-list {
  font-family: 'Studio Pro', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.08333;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  display: flex;
}
.social-link {
}
.img-recep {
  border-radius: 17px;
}
.imagi {
  color: rgb(20, 20, 20, 0.3);
}
.follow {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
  padding-top: 20px;
  padding-left: 20px;
}
.pictirs {
  padding-left: 20px;
  padding-top: 40px;
  padding-right: 20px;
}
.znak {
  font-family: 'Studio Pro', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.08333;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  padding-left: 8px;
  padding-right: 8px;
}

@media only screen and (min-width: 768px) {
  .input-block {
  }
  .construction-input {
  }
  .container {
  }
  .Freh-text {
    padding-right: 96px;
    width: 640px;
  }
  .transparency {
  }
  .boxer {
    padding-right: 96px;
    width: 640px;
  }
  .input {
  }
  .ordering {
    padding-left: 100px;
    padding-right: 100px;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.08333;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #141414;
  }
  .redd {
  }
  .grrenn {
  }
  .forma-iputa {
    padding: 50px 100px 50px 100px;
  }
  .create-input {
  }
  .textarea {
  }
  .form-btn {
  }
  .wooman {
  }
  .img-socia {
    margin-top: 25px;
  }
  .pictirs {
    display: flex;
    justify-content: center;
  }

  .img-recep {
    width: 528px;
    height: 273px;
  }
  .follow {
    padding-left: 50px;
    padding-top: 50px;
  }
  .social-item {
    padding-left: 50px;
  }
  .social-list {
  }
  .social-link {
  }
  .znak {
  }
}
@media only screen and (min-width: 1280px) {
  .input-block {
  }
  .construction-input {
  }
  .container {
  }
  .Freh-text {
    width: 751px;
  }
  .transparency {
  }
  .boxer {
    width: 742px;
  }
  .input {
    width: 529px;
    height: 534px;
    margin: 0;
  }
  .ordering {
  }
  .redd {
  }
  .grrenn {
  }
  .forma-iputa {
  }
  .create-input {
  }
  .textarea {
  }
  .form-btn {
  }
  .wooman {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 50px;
    gap: 24px;
  }
  .img-socia {
    width: 527px;
    height: 534px;
    margin: 0;
  }
  .pictirs {
    padding: 50px 50px 50px 50px;
  }
  .imagi {
  }
  .img-recep {
  }
  .follow {
    padding-top: 0;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.11111;
    letter-spacing: -0.01em;
    color: rgba(251, 251, 251, 0.5);
  }

  .social-item {
  }
  .social-list {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.01em;
    color: #fbfbfb;
    padding-top: 12px;
    padding-left: 10px;
  }
  .social-link {
  }
  .znak {
  }
}
