.discount {
  padding: 80px 10px 80px 10px;
}

.discount-container {
  border-radius: 12px;
  width: 355px;
  height: 102px;
  background: #576f35;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}

.disc-title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.04167;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}

.vitamins {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.04167;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  padding: 0 10px 0 10px;
}
@media only screen and (min-width: 768px) {
  .discount-container {
    max-width: 768px;
    width: 736px;
    height: auto;
  }
  .discount {
    padding: 100px 16px;
  }
  .vitamins {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 1.09375;
    letter-spacing: -0.01em;
    text-transform: uppercase;
  }
  .disc-title {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 1.09375;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
  }
}

@media only screen and (min-width: 1280px) {
  .discount-container {
    max-width: 1280px;
    padding: 0 15px;
    margin: 0;
    width: 808px;
  }

  .discount {
    padding: 100px;
  }
  .title-accent {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
    font-size: 76px;
    line-height: 1.05263;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
  }
}
