.footer {
  background: rgb(122, 49, 69);
}
.container {
}
.footer-container {
  padding-top: 40px;
}
.icon-footer {
  width: 18px;
  height: 18px;
  fill: #fbfbfb;
}

.logo-text {
  width: 168px;
  height: 15px;
  fill: #fbfbfb;
}

.footer-text {
  font-family: 'Studio Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  padding-top: 14px;
  width: 296px;
}

.footer-link {
}
.footer-nav {
  padding-top: 40px;
}
.footer-item {
}
.footer-list {
  font-family: 'Studio Pro', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  padding-bottom: 14px;
}
.footer-nav-link {
}
.footer-adress {
  padding-top: 40px;
}
.address {
}
.number {
  font-family: 'Studio Pro', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}

.footer-polic {
  font-family: 'Studio Pro', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
}

.footer-simbol {
  padding-left: 8px;
  padding-right: 8px;
  font-family: 'Studio Pro', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
}

.footer-privat {
  padding-top: 100px;
  display: flex;
}
.footer-green {
  font-family: 'Studio Pro', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
  padding-left: 31px;
}
.icon-text-logo {
}
@media only screen and (min-width: 768px) {
  .footer {
  }
  .container {
  }
  .footer-container {
  }
  .icon-footer {
  }
  .footer-link {
  }
  .logo-text {
  }
  .footer-text {
    width: 265px;
  }
  .footer-nav {
  }
  .footer-item {
  }
  .footer-list {
  }
  .footer-nav-link {
  }
  .footer-adress {
  }
  .address {
  }
  .number {
  }
  .footer-privat {
  }
  .footer-polic {
  }
  .footer-simbol {
  }
  .footer-green {
  }
}
