.footer {
  background: rgb(122, 49, 69);
}
.container {
}
.footer-container {
  padding-top: 40px;
}
.icon-footer {
  width: 18px;
  height: 18px;
  fill: #fbfbfb;
}

.logo-text2 {
  width: 168px;
  height: 16px;
  fill: #fbfbfb;
}

.p-footer-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: 0.02em;
  color: #fbfbfb;
  width: 296px;
  padding-top: 25px;
}

.footer-link {
}
.footer-nav {
  padding-top: 40px;
}
.footer-item {
}
.footer-list {
  font-family: 'Studio Pro', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  padding-bottom: 14px;
}
.footer-nav-link {
}
.footer-adress {
  padding-top: 40px;
}
.address {
}
.number {
  font-family: 'Studio Pro', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}

.footer-polic {
  font-family: 'Studio Pro', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
}

.footer-simbol {
  padding-left: 8px;
  padding-right: 8px;
  font-family: 'Studio Pro', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
}

.footer-privat {
  padding-top: 100px;
  display: flex;
  padding-bottom: 40px;
  padding-left: 20px;
}
.footer-green {
  font-family: 'Studio Pro', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
  padding-left: 31px;
}
.icon-text-logo {
}

.footer-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  padding-top: 25px;
}
@media only screen and (min-width: 768px) {
  .footer {
  }
  .container {
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .icon-footer {
  }
  .footer-link {
  }
  .logo-text2 {
    width: 194px;
    height: 18px;
  }
  .footer-text {
    width: 265px;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.11111;
    letter-spacing: -0.01em;
    color: #fbfbfb;
  }
  .footer-nav {
    padding: 0;
  }
  .footer-item {
  }
  .footer-list {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.01em;
    color: #fbfbfb;
    padding-right: 25px;
    padding-bottom: 25px;
  }
  .footer-nav-link {
  }
  .footer-adress {
  }
  .address {
    padding-left: 489px;
  }
  .number {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.11111;
    letter-spacing: -0.01em;
    color: #fbfbfb;
  }
  .footer-privat {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.11111;
    letter-spacing: -0.01em;
    color: rgba(251, 251, 251, 0.5);
    padding: 100px 32px 32px 32px;
  }
  .footer-polic {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.11111;
    letter-spacing: -0.01em;
    color: rgba(251, 251, 251, 0.5);
  }
  .footer-simbol {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.11111;
    letter-spacing: -0.01em;
    color: rgba(251, 251, 251, 0.5);
  }
  .footer-green {
    margin-left: auto;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.11111;
    letter-spacing: -0.01em;
    color: rgba(251, 251, 251, 0.5);
  }
}
@media only screen and (min-width: 1280px) {
  .footer {
  }
  .container {
  }
  .footer-container {
  }

  .icon-text-logo {
    padding-right: 200px;
  }
  .icon-footer {
  }
  .footer-link {
  }
  .logo-text2 {
  }
  .p-footer-text {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #fbfbfb;
  }
  .footer-nav {
  }
  .footer-item {
  }
  .footer-list {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.01em;
    color: #fbfbfb;
  }
  .footer-nav-link {
  }
  .footer-adress {
    padding: 0;
    display: flex;
  }
  .address {
    padding: 0;
  }
  .number {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.11111;
    letter-spacing: -0.01em;
    color: #fbfbfb;
  }
  .footer-text {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.11111;
    letter-spacing: -0.01em;
    color: #fbfbfb;
    width: 220px;
  }
  .footer-privat {
    display: flex;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
  }
  .footer-polic {
  }
  .footer-simbol {
  }
  .footer-green {
    margin-left: auto;
  }
}
