.header {
  padding-top: 20px;
  padding-bottom: 24px;
  background-color: #576f35;
  display: block;
}

@media only screen and (min-width: 768px) {
  .header {
    padding-top: 32px;
    padding-bottom: 25px;
  }
}

@media only screen and (min-width: 1280px) {
  .header {
    padding-bottom: 77px;
  }
}

.div-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; /* Относительное позиционирование, чтобы навигация оставалась на месте */
  z-index: 2;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo,
.logo-icon {
  display: inline-flex;
  align-items: center;
}

.logo {
  fill: #fbfbfb;
}

.logo-icon {
  width: 16px;
  height: 16px;
}

@media only screen and (min-width: 768px) {
  .logo-icon {
    width: 18px;
    height: 18px;
  }
  .logo {
    gap: 8px;
  }
}

.logo-text {
  width: 148px;
  height: 12px;
}

@media only screen and (min-width: 768px) {
  .logo-text {
    width: 194px;
    height: 18px;
  }
}

@media only screen and (min-width: 1280px) {
  .logo-text {
    margin-right: 397px;
  }
}

.nav-list {
  display: none;
}

@media only screen and (min-width: 1280px) {
  .nav-list {
    display: flex;
    align-items: center;
    gap: 8px;

    margin-right: auto;

    color: #fbfbfb;
    font-size: 16px;
    font-style: normal;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -1px;
    text-transform: none;
  }
}

.nav-list-item {
}
.nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 12px;

  color: #161212;
  font-size: 16px;
  font-style: normal;

  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 12px;

  white-space: nowrap;

  transition: color 250ms linear, background-color 250ms linear,
    border-color 250ms linear;
}
.nav-btn:is(:hover, :focus) {
  background: #7a3145;
}
.nav-link {
}

.mob-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
}

@media only screen and (min-width: 1280px) {
  .mob-btn {
    display: none;
  }
}

.burger-btn {
  stroke: #fbfbfb;

  display: flex;
  align-items: center;
  justify-content: center;
}

.open-btn-icon {
  stroke: #fbfbfb;
  width: 32px;
  height: 32px;
}

@media only screen and (min-width: 768px) {
  .open-btn-icon {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (min-width: 1280px) {
  .burger-btn {
    display: none;
  }
}

.shop-link {
  display: none;
}

@media only screen and (min-width: 1280px) {
  .shop-link {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px 32px;
    margin-left: 20px;

    color: #fbfbfb;
    font-size: 18px;
    font-style: normal;

    background-color: #7a3145;

    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 30px;

    white-space: nowrap;

    transition: color 250ms linear, background-color 250ms linear,
      border-color 250ms linear;
  }
}

@media only screen and (min-width: 1280px) {
  .shop-link:is(:hover, :focus) {
    color: #7a3145;
    background-color: #fbfbfb;
  }
}
